/*
* Theme Name: Makeup Assignment
* style.css
* Style.CSS file
* Author: Karan Raj Kohli
* Author URI: http:/karan.website/
* Version: 1.2  
*/

body{
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    background: #f3f3f2;
    margin: 0 auto;
    color: #000;
    height: 100%;
    overflow-y: auto;
  }

#wrapper{
    position: relative;
    max-width: 960px;
    top: 0;
    margin: 0 auto;
    background: #fff;
    overflow: hidden; 
}

header{
    display: block;
    overflow: hidden;
}
#utility-nav{
    float: right;
    margin-top: 10px;
}
.uti-icons{
    display: inline-block;
    margin-right: 10px;
}
.uti-links{
    display: inline-block;
    font-size: 12px;
}

.uti-links a{
    color: #666666;
    text-decoration: none;
    padding-right: 5px;
}

.menu-uti-nav-container #menu-uti-nav{
    list-style: none;
    display: inline-flex;
    padding-left: 0;
    margin-right: 20px;
    margin-bottom: 7px;
}

.menu-footer-1-container #menu-footer-1{
    list-style: none;
    padding-left: 0;
    margin: 0;
    margin-bottom: 7px;
}
#menu-footer-1 li {
    display: inline-block;
}

.menu-footer-2-container #menu-footer-2{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
#menu-footer-2 li {
    display: inline-block;
}

#logo-container{
    height: 150px;
    text-align: center;
    width: 356px;
    vertical-align: middle;
    float: left;
}


#header-image-container{
    display: inline-block;
}

nav{
    width: 100%;
    margin-top: -4px;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    display: inline-block;
    margin-right: 1px;
}
nav ul li a{
    display: block;
    padding: 16px;
    background: #0a7189;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding-left: 32px;
    padding-right: 31px;
}
nav ul li a:hover{
    background: #4ab1ca;
}

#menu-item-84{
    margin-right: 0px;
}

#menu-item-84 a{
    padding-right: 34px;
    padding-left: 34px;
}
#hero{
    height: 450px;
    background-image: linear-gradient(#fff, #e8f8fc);
}
#hero .food{
    margin-top: 38px;
    margin-left: 50px;
    float: left;
}

#hero h1{
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
    font-size: 70px;
    color: #ff8f21;
    margin-bottom: 0px;
    margin-left: 17px;
}

#hero h2{
    display: inline-block;
    vertical-align: top;
    font-weight: 300;
    color: #0a7189;
    font-size: 30px;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 17px;
}

.hero-list{
    display: inline-block;
    list-style: none;
}
ul.hero-list li{
    font-weight: 600;
    color: #4ab1ca;
    font-size: 20px;
}

.dog-image{
    display: inline-block;
    position: absolute;
    margin-top: 10px;
}

a.order-button{
    display: block;
    margin: 0 auto;
    border-radius: 19px;
    left: 38%;
    position: absolute;
    text-decoration: none;
    background: #09922d;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    padding: 5px;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 30px;
}

#articles-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    background: #fff;
    grid-column-gap:20px;
    padding-bottom: 30px;
}
.article{
    width: 255px;
    margin: 0 auto;
}
.article h3{
    font-size: 22px;
    color: #666666;
    font-weight: 400;
}
.article p{
    font-size: 12px;
    color: #666666;
    width: 255px;
    text-align: justify;
}
.article a{
    display: block;
    background: #ff8f21;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    float: right;
}

footer{
    width: 100%;
    background: #0a7189;
    height: 100px;
}
.footer-logo-left{
    float: left;
    margin-left: 30px;
    margin-top: 18px;
}
.footer-logo-right{
    float: right;
    margin-right: 22px;
    margin-top: -49px;
}
.footer-content{
    width: 60%;
    margin: 0 auto;
    color: #fff;
    font-size: 12px;
    padding-top: 23px;
    text-align: center;
}

.footer-content a{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
}
.footer-content a:hover{
    color: #ff8f21;
}
.footer-content a{
    margin-bottom: 5px;
    margin-top: 0px;
}
.footer-content .copyright{
    font-size: 12px;
    color: #fff;
    margin-top: 9px;
}

div#primary {
    padding: 30px;
}

#slider{
    width: 80%;
    margin: 0 auto;
    margin-top:50px;
    margin-bottom:50px;
}
.section-menu{
    border-right: 1px solid #cfcfcf;
    width: 20%;
    margin-left: 23px;
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
    height: 85vh;
}
.section-menu h2{
    font-weight: 300;
    color: #0a7189;
    font-size: 18px;
    margin-bottom: 7px;
}
.section-menu p{
    margin: 0;
    margin-bottom: 10px;
}
.section-menu p a{
    font-weight: 600;
    color: #000;
    font-size: 12px;
    text-decoration: none;
}
.section-menu p a:hover{
    color: #ff8f21;
}

li.categories{
    font-weight: 300;
    color: #0a7189;
    font-size: 18px;
    margin-bottom: 7px;
    list-style: none;
}
.section-menu ul{
    list-style: none;
    padding-left: 10px;
    margin-bottom: 10px;
}

.section-menu ul li a{
    font-weight: 600;
    color: #000;
    font-size: 12px;
    text-decoration: none;
}
.section-menu ul li a:hover{
    color: #ff8f21;
}
.article-section{
    width: 73.7%;
    display: inline-block;
    /* float: right; */
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 36px;
    height: 700px;
}
.article-section-single{
    display: inline-block;
    /* float: right; */
    width: 70%;
    padding: 30px;
    height: 600px;
}
.article-section h1{
    font-size: 24px;
    color: #0a7189;
    font-weight: 600;
    margin-bottom: 5px;
}
.article-section h2{
    font-size: 20px;
    color: #ff8f21;
    font-weight: 600;
    margin-top: 7px;
}
.individual-article{
    border: 1px solid #cfcfcf;
    width: 90%;
    padding: 20px;
    overflow: hidden;
    margin-bottom: 33px;
}
.individual-article img{
    margin-left: 4px;
    float: left;
}
.individual-article h3{
    margin-left: 95px;
    font-size: 18px;
    margin-top: 0;
}

.individual-article p{
    margin-left: 95px;
    font-size: 16px;
}
.individual-article a{
    margin-left: 95px;
    font-size: 12px;
    color: #0a7189;
    float: right;
    text-decoration: none;
    font-weight: 600;
    padding-right: 14px;
}

